<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <form method="post" action="/pirates">
  <h1>Pirate:</h1>
  Name: <input type="text" id ="pirate_name" name="pirate[name]">
  Weight: <input type="text" id="pirate_weight" name="pirate[weight]" /><br>
  Height: <input type="text" id="pirate_height" name="pirate[height]" /><br>

  <h1>Ship:</h1>
  Name: <input type="text" id ="ship_name_1" name="pirate[ships][][name]">
  Type: <input type="text" id ="ship_type_1" name="pirate[ships][][type]">
  Booty: <input type="text" id ="ship_booty_1" name="pirate[ships][][booty]">
  <br/>
  Name: <input type="text" id ="ship_name_2" name="pirate[ships][][name]">
  Type: <input type="text" id ="ship_type_2" name="pirate[ships][][type]">
  Booty: <input type="text" id ="ship_booty_2" name="pirate[ships][][booty]">

  <input type="submit" value="Submit">
  </form>

  </body>
</html>
