<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <form method="post" action="/pirates">
  Pirate: <input type="text" id ="pirate_name" name="pirate[name]">
  Ship: <input type="text" id ="pirate_ship" name="pirate[][ship]">
  Ship: <input type="text" id ="pirate_ship" name="pirate[][ship]">
  <input type="submit">
  </form>

  </body>
</html>
